--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
# qdax[cuda12] @ https://github.com/adaptive-intelligent-robotics/QDax.git@develop
# jax[cuda12_pip]==0.4.28
# evosax==0.1.6
jax==0.4.28
jaxlib==0.4.28
notebook
kheperax 
hydra-core
hydra-joblib-launcher
wandb
