--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
# qdax[cuda12]
# git+https://github.com/adaptive-intelligent-robotics/QDax.git@develop#egg=qdax[cuda12]
git+https://github.com/adaptive-intelligent-robotics/QDax.git@feat/brax-v2#egg=qdax[cuda12]
# jax[cuda12_pip]==0.4.28
# evosax==0.1.6
# jax==0.4.28
# jaxlib==0.4.28
notebook
kheperax 
hydra-core
hydra-joblib-launcher
wandb
